
# Ignore compiled files
__pycache__/
*.pyc

# Ignore models and output
MP_TESTING/predicted_output.pt
#ignore the predicted node output
MP_TESTING/predicted_node_outputs.csv

# Ignore installers
Miniconda3-*.sh

# Ignore all 3DFrame.* files in MP_TESTING
MP_TESTING/3DFrame.*


